*{
    margin: 0;
    padding: 0;
}
#top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 2vh;
}
#logo{
    display: flex;
    align-items: center;
}
#top a {
    justify-content: space-between;
    text-decoration: none;

}