*{
    margin: 0;
    padding: 0;
}

#top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 2vh;
}
#logo{
    display: flex;
    align-items: center;
}
#top a {
    justify-content: space-evenly;
    text-decoration: none;

}
/* the body design */
#begin{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    text-align: center;
}
#begin h1{
    font-size: 40px;
    

}
#img1 img {
    width:100%;
    
}

 /* design of about text */
#abttext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    padding-top: 8vh;
    gap: 50vh;
    margin: 10vh auto;

}
#abttext h1{
    text-align: left;
    padding-right: 20vh;
    font-size: 35px;
    margin-top: 5vh;
    margin-right: 200px;
}
#text p{
font-size: 20px;
}

/* vidoe edit */

/* portfolio */
#port{
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    padding-top: 8vh;
    gap: 50vh;
    margin: 10vh auto;
}
#port h1{
    /* border: 1px black solid; */
    text-align: left;
    padding-right: 5vh;
    font-size: 35px;
    margin-top: 5vh;
    margin-right: 200px;
}
#ptxt{
    /* border: 1px black solid; */
    font-size: 20px;
    padding-right: 5vh;
}

/* design for images */
#imgrow{
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    padding-left: 5vh;
    flex-wrap: wrap;
    gap: 2vh;
}

.image{
    display: flex;
    flex-direction: row;
    width: 30%;
    flex-wrap: wrap;
    column-gap: 2vh;
    justify-content:space-between;
}

/* FAQ */
#ttx{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: justify;
    padding-top: 8vh;
    gap: 60vh;
    margin: 10vh auto;
   
 
}
#ttx h1 {
    font-size: 40px;
    margin-right: 20px;
}  
#ttx p{
    font-size:17px ;
    margin-left: 400px;
}



#design{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: justify;
    padding-top: 8vh;
    gap: 60vh;
    margin: 10vh auto;
    line-height: 2;
    font-weight: bold;
    margin-right: 20px;
}
#design p{
    font-size: 20px;
}
#plus{
    margin-left: 400px;
}

